/*-------------------------------------------*/
/* ESSENTIALS   */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.site-wrapper {
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
    background-color: #000;
    font-size: 1rem !important;
}

ul {
    list-style: none;
}

.whitespace {
    margin: 20rem 0;
}

/*-------------------------------------------*/
/* HEADIMGS  */
/*-------------------------------------------*/

.design-lead {
    font-size: 15rem;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/*-------------------------------------------*/
/* PARAGRAPHS */
/*-------------------------------------------*/

p {
    font-size: 3rem;
    font-weight: 100;
}

.design-p {
    font-size: 5rem;
    font-weight: 400;
}

.about-us {
    text-align: left;
}

.main {
    position: relative;
}

.text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
/*-------------------------------------------*/
/* SECTION BUTTON */
/*-------------------------------------------*/
.btn-contact {
    font-weight: 100;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*-------------------------------------------*/
/* HEADER  */
/*-------------------------------------------*/

#header {
    background: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.75)
        ),
        url(../img/hero-1.jpg) center center/cover no-repeat;
    height: 100vh;
    position: relative;
}

.hero-text-box {
    position: absolute;
    top: 30%;
    left: 10%;
}

.hero-lead {
    font-size: 10rem;
    font-weight: 100;
    margin: auto;
}

.navbar {
    font-size: 1.3rem;
}

.hero-logo {
    width: 30%;
}

.btn {
    font-size: 2.5rem;
    margin-top: 2rem;
}

/*-------------------------------------------*/
/* SECTION MISC */
/*-------------------------------------------*/

.losangeles,
.luxury-1,
.luxury-3 {
    height: 100%;
    width: 100%;
}

.height {
    height: 48.3vh;
}

.white {
    background: #feceab;
    height: 100vh;
    position: relative;
}

.position-img {
    position: absolute;
    top: 30%;
    left: 25%;
}

.luxury-2 {
    width: 500px;
}

/*-------------------------------------------*/
/* FOOTER  */
/*-------------------------------------------*/

#footer {
    height: auto;
    margin-top: 5rem;
    text-align: center;
    padding: 5rem;
}

#footer .container {
    margin-top: 15rem;
}

#footer .hero-logo {
    padding: 5rem;
}

.icon {
    padding: 1rem;
    font-size: 2rem !important;
    color: #fff;
    transition: all 0.4s;
}

.twitter:hover {
    color: #1da1f2;
}

.facebook:hover {
    color: #1877f2;
}

.linkedin:hover {
    color: #007bb5;
}

.instagram:hover {
    color: #c32aa3;
}

.youtube:hover {
    color: #ff0000;
}

/*-------------------------------------------*/
/* MEDIA QUERY  */
/*-------------------------------------------*/

@media (min-width: 350px) and (max-width: 499px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    section {
        padding: 3.5rem 0;
    }

    .hero-lead {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.8rem;
    }

    p {
        text-align: center;
    }

    /* Header */

    .navbar {
        padding-top: 10rem;
    }

    .navbar .hero-logo {
        width: 30%;
        padding-bottom: 3rem;
    }

    .hero-text-box {
        margin-top: 5rem;
    }

    /* Invest  */
    .img-1 {
        background: url(../img/interior.jpg) center center/cover no-repeat;
        width: 100%;
    }

    /* Feature  */

    .f-logo {
        display: block;
        margin: 3rem auto;
    }

    /* Footer  */

    #footer .hero-logo {
        width: 100%;
    }

    #footer .icon {
        font-size: 1.3rem;
    }
}

@media (min-width: 500px) and (max-width: 812px) and (orientation: landscape) {
    body {
        padding-left: 1.35rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    header {
        height: auto;
    }

    /* Navbar */

    .navbar {
        font-size: 0.5rem;
    }

    .navbar .hero-logo {
        width: 18%;
        padding-bottom: 3rem;
    }

    .hero-text-box {
        margin-top: 0;
    }

    .btn {
        font-size: 1rem;
    }

    /* Invest */
    #invest .hg-list {
        display: block;
        margin-left: 8rem;
        min-width: 100%;
        padding-bottom: 4rem;
    }

    /* Intro */

    .video {
        height: 90vh;
        min-width: 100%;
    }

    .g-photo {
        min-width: 100%;
    }

    /* Showcase */

    #showcase {
        height: auto;
    }

    #showcase-2 {
        height: auto;
    }

    /* Feature  */

    .f-logo {
        display: block;
        margin: 4rem auto;
        padding: auto;
    }

    /* Footer  */

    #footer {
        height: 100vh;
    }

    #footer .hero-logo {
        min-width: 30%;
    }
}

@media (min-width: 813px) and (max-width: 1024px) {
    body {
        padding-left: 1.35rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    p {
        font-size: 1.3rem;
    }

    /* Header */

    .navbar .hero-logo {
        width: 25%;
        padding-bottom: 3rem;
    }

    /* Feature  */

    .f-logo {
        display: block;
        margin: 4rem auto;
        padding: auto;
    }
}

@media (min-width: 1441px) {
    .hero-lead {
        font-size: 10rem;
    }

    h2 {
        font-size: 5rem;
    }

    p {
        font-size: 1.4rem;
    }

    ul li {
        font-size: 2rem;
    }
}
