/*-------------------------------------------*/
/* ESSENTIALS   */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

.site-wrapper {
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
    background-color: #000;
    font-size: 1rem !important;
}

ul {
    list-style: none;
}

.whitespace {
    margin: 20rem 0;
}

.whitespace-2 {
    margin: 8rem 0;
}

/*-------------------------------------------*/
/* HEADIMGS  */
/*-------------------------------------------*/

.design-lead {
    font-size: 15rem;
}

.design-lead-sm {
    font-size: 7rem;
}

.design-lead,
.design-lead-sm {
    letter-spacing: 3px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/*-------------------------------------------*/
/* PARAGRAPHS */
/*-------------------------------------------*/

p {
    font-size: 2rem;
    font-weight: 100;
}

.design-p {
    font-size: 4rem;
    font-weight: 400;
}

.architect-txt {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 3px;
}

.about-us {
    text-align: left;
}

.main {
    position: relative;
}

/*-------------------------------------------*/
/* SECTION BUTTON */
/*-------------------------------------------*/
.btn-contact {
    font-weight: 100;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*-------------------------------------------*/
/* HEADER  */
/*-------------------------------------------*/

#header {
    background: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.75)
        ),
        url(../img/hero-1.jpg) center center/cover no-repeat;
    height: 100vh;
    position: relative;
}

.hero-text-box {
    position: absolute;
    top: 30%;
    left: 10%;
}

.hero-lead {
    font-size: 10rem;
    font-weight: 100;
    margin: auto;
}

.navbar {
    font-size: 1.3rem;
}

.hero-logo {
    width: 30%;
}

.btn {
    font-size: 2.5rem;
    margin-top: 2rem;
}

/*-------------------------------------------*/
/* SECTION MISC */
/*-------------------------------------------*/

.losangeles,
.luxury-1,
.luxury-3,
.architect-1,
.architect-2 {
    height: 100%;
    width: 100%;
}

.showcase {
    cursor: pointer;
    height: 70%;
    width: 80%;
}

.white {
    background: #feceab;
    height: 100vh;
    position: relative;
}

.position-img {
    position: absolute;
    top: 5%;
    left: 15%;
}

.luxury-2 {
    width: 500px;
}

.interior,
.interior-2 {
    height: 100%;
    width: 100%;
}

/*-------------------------------------------*/
/* TEAM  */
/*-------------------------------------------*/

.t1,
.t2,
.t3,
.t4,
.t5,
.t6,
.t7,
.t8 {
    width: 100%;
    height: 30vh;
    filter: gray;
    -webkit-filter: grayscale(1);
    transition: ease 0.4s all;
}

.t1:hover,
.t2:hover,
.t3:hover,
.t4:hover,
.t5:hover,
.t6:hover,
.t7:hover,
.t8:hover {
    filter: none;
    -webkit-filter: none;
}

.t1 {
    background: url(../img/team1.jpg) center center/cover no-repeat;
}

.t2 {
    background: url(../img/team2.jpg) center center/cover no-repeat;
}

.t3 {
    background: url(../img/team3.jpg) center center/cover no-repeat;
}

.t4 {
    background: url(../img/team4.jpg) center center/cover no-repeat;
}

.t5 {
    background: url(../img/team5.jpg) center center/cover no-repeat;
}

.t6 {
    background: url(../img/team6.jpg) center center/cover no-repeat;
}

.t7 {
    background: url(../img/team7.jpg) center center/cover no-repeat;
}

.t8 {
    background: url(../img/team8.jpg) center center/cover no-repeat;
}
/*-------------------------------------------*/
/* FOOTER  */
/*-------------------------------------------*/

#footer {
    height: auto;
    margin-top: 5rem;
    text-align: center;
    padding: 5rem;
}

#footer .container {
    margin-top: 15rem;
}

#footer .hero-logo {
    padding: 5rem;
}

#footer p {
    font-size: 1rem;
}

.icon {
    padding: 1rem;
    font-size: 2rem !important;
    color: #fff;
    transition: all 0.4s;
}

.twitter:hover {
    color: #1da1f2;
}

.facebook:hover {
    color: #1877f2;
}

.linkedin:hover {
    color: #007bb5;
}

.instagram:hover {
    color: #c32aa3;
}

.youtube:hover {
    color: #ff0000;
}

/*-------------------------------------------*/
/* MEDIA QUERY  */
/*-------------------------------------------*/

@media (min-width: 350px) and (max-width: 499px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .hero-lead {
        font-size: 4rem;
    }

    .design-lead {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .design-lead-sm {
        font-size: 1.8rem;
        margin-top: 3rem;
    }

    p {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .design-p {
        font-size: 1.3rem;
        margin-top: 3rem;
        font-weight: 400;
    }

    .hero-text-box {
        margin-top: 5rem;
    }

    .btn-contact {
        position: relative;
    }

    .position-img {
        top: 25%;
        left: 18%;
    }

    .luxury-2 {
        width: 70%;
        height: 70%;
    }

    .stay {
        text-align: center;
        margin-bottom: 3rem;
    }

    /* Footer  */

    #footer .hero-logo {
        width: 100%;
    }

    #footer .icon {
        font-size: 1rem;
    }
}

@media (min-width: 500px) and (max-width: 812px) and (orientation: landscape) {
    .hero-lead {
        font-size: 4rem;
    }

    .design-lead {
        font-size: 2rem;
        margin-top: 3rem;
    }

    p {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .design-p {
        font-size: 1.3rem;
        margin-top: 3rem;
        font-weight: 100;
    }

    .hero-text-box {
        margin-top: 5rem;
    }

    .btn-contact {
        position: relative;
    }

    .position-img {
        top: 40%;
        left: 18%;
    }

    .luxury-2 {
        width: 70%;
        height: 70%;
    }

    .stay {
        text-align: center;
        margin-bottom: 3rem;
    }

    /* Footer  */

    #footer .icon {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .hero-lead {
        font-size: 5rem;
    }

    .design-lead {
        font-size: 4rem;
        margin-top: 3rem;
    }

    p {
        font-size: 2rem;
    }

    .design-p {
        font-size: 2.3rem;
        margin-top: 3rem;
    }

    .hero-text-box {
        margin-top: 5rem;
    }

    .btn-contact {
        position: relative;
    }

    .position-img {
        top: 40%;
        left: 18%;
    }

    .luxury-2 {
        width: 70%;
        height: 70%;
    }

    .stay {
        text-align: center;
        margin-bottom: 3rem;
    }

    /* Footer  */

    #footer .icon {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .hero-lead {
        font-size: 5rem;
    }

    .design-lead {
        font-size: 4rem;
        margin-top: 3rem;
    }

    p {
        font-size: 2rem;
    }

    .design-p {
        font-size: 2.3rem;
        margin-top: 3rem;
    }

    .hero-text-box {
        margin-top: 5rem;
    }

    .btn-contact {
        position: relative;
    }

    .position-img {
        top: 40%;
        left: 18%;
    }

    .luxury-2 {
        width: 70%;
        height: 70%;
    }

    .stay {
        text-align: center;
        margin-bottom: 3rem;
    }

    /* Footer  */

    #footer .icon {
        font-size: 1rem;
    }
}

@media (min-width: 1441px) {
    p {
        font-size: 1.5rem;
    }

    .position-img {
        position: absolute;
        top: 10%;
        left: 25%;
    }
}
